.nav_bar {
    border-bottom: 5px solid rgb(0, 132, 255);
}
.nav_bar {
    border-bottom: 5px solid 1px 1px rgb(3, 80, 151);
}
.Portfolio {
   letter-spacing: 6px;
   color: rgb(19, 22, 201);
   text-shadow: -3px 0 rgb(8, 10, 145), 0 -3px rgb(8, 10, 145), 2px 0 rgb(8, 10, 145), 0 2px black,
   2px 2px rgb(8, 10, 145), -2px -2px rgb(8, 10, 145), -2px 2px rgb(8, 10, 145), 2px -2px rgb(8, 10, 145),
   10px 8px rgba(0, 0, 0, 0.24);
}
.nav_bar a {
    font-size: 24px;
    text-decoration: none;
}

#title_name {
    font-size: 3.5rem;
}

.homepage_project_image {
    max-width: 700px;
}
.project_card_name  {
    text-align: center;
}

.project_card_about {
    text-align: center;
}

.project_page_description {
    margin-top: 1%;
}